# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# Build output
/dist
/build

# OS specific files
.DS_Store
Thumbs.db

# ESLint cache
.eslintcache

# Prettier config
.prettierrc
.prettierignore

# Husky
.husky/_
